@model Student

@{ 
    ViewBag.Title = "Detail";
}

<h2>Student information</h2>
<hr/>

<h3>ID : @Model.Id</h3>
<h3>name : @Model.Name</h3>
<h3>Age : @Model.Age</h3>
<h3>Country : @Model.Country</h3>